<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ConnectionStringName" value="MinnesotaLotteryConsoleApp"/>
  </appSettings>
  <connectionStrings>
    <add name="MinnesotaLotteryConsoleApp" connectionString="Data Source=ANT_PC; Initial Catalog =Minnesota Lottery; user id=aernst; password=@NTh0ny1586$$;" providerName="System.Data.SQLClient"/>
  </connectionStrings>
</configuration>